.vscode/

edges.json
nodes.json
nodes_to_label.json
label_to_nodes.json

!json.hpp

CMakeLists.txt
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.cmake

*.user

.qtcreator/
build/
cmake-build-*/

*.exe